html, body {
    padding: 0;
    margin: 0;
}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
}

body aside {
    background-image: url('fitness.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: contain;
}

body aside,
body section {
    flex: 1;
}